[submodule "blackbird"]
	path = blackbird
	url = https://github.com/p1ngul1n0/blackbird.git
[submodule "Photon"]
	path = Photon
	url = https://github.com/s0md3v/Photon.git
[submodule "sherlock"]
	path = sherlock
	url = https://github.com/sherlock-project/sherlock.git
[submodule "phoneinfoga"]
	path = phoneinfoga
	url = https://github.com/sundowndev/phoneinfoga.git
[submodule "spiderfoot"]
	path = spiderfoot
	url = https://github.com/smicallef/spiderfoot.git
[submodule "Sublist3r"]
	path = Sublist3r
	url = https://github.com/aboul3la/Sublist3r.git
[submodule "theHarvester"]
	path = theHarvester
	url = https://github.com/laramies/theHarvester.git
[submodule "holehe"]
	path = holehe
	url = https://github.com/megadose/holehe.git
[submodule "maigret"]
	path = maigret
	url = https://github.com/soxoj/maigret.git
[submodule "ghunt"]
	path = ghunt
	url = https://github.com/mxrch/ghunt.git
[submodule "dnsrecon"]
	path = dnsrecon
	url = https://github.com/darkoperator/dnsrecon.git
[submodule "metagoofil"]
	path = metagoofil
	url = https://github.com/laramies/metagoofil.git
[submodule "amass"]
	path = amass
	url = https://github.com/owasp-amass/amass.git
[submodule "recon-ng"]
	path = recon-ng
	url = https://github.com/lanmaster53/recon-ng.git
[submodule "waybackurls"]
	path = waybackurls
	url = https://github.com/tomnomnom/waybackurls.git
[submodule "whatsmyname"]
	path = whatsmyname
	url = https://github.com/WebBreacher/WhatsMyName.git
[submodule "socialscan"]
	path = socialscan
	url = https://github.com/iojw/socialscan.git
